<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<description></description>
		<display-name>CustomerListController</display-name>
		<servlet-name>CustomerListController</servlet-name>
		<servlet-class>hotel.controllers.CustomerListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerListController</servlet-name>
		<url-pattern>/customer/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CustomerAddServlet</display-name>
		<servlet-name>CustomerAddServlet</servlet-name>
		<servlet-class>hotel.controllers.CustomerAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerAddServlet</servlet-name>
		<url-pattern>/customer/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HotelListController</display-name>
		<servlet-name>HotelListController</servlet-name>
		<servlet-class>hotel.controllers.HotelListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelListController</servlet-name>
		<url-pattern>/hotel/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HotelAddServlet</display-name>
		<servlet-name>HotelAddServlet</servlet-name>
		<servlet-class>hotel.controllers.HotelAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelAddServlet</servlet-name>
		<url-pattern>/hotel/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoomAddServlet</display-name>
		<servlet-name>RoomAddServlet</servlet-name>
		<servlet-class>hotel.controllers.RoomAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomAddServlet</servlet-name>
		<url-pattern>/room/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HotelCheckinController</display-name>
		<servlet-name>HotelCheckinController</servlet-name>
		<servlet-class>hotel.controllers.HotelCheckinController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelCheckinController</servlet-name>
		<url-pattern>/hotel/checkin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckinController</display-name>
		<servlet-name>CheckinController</servlet-name>
		<servlet-class>hotel.controllers.CheckinController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckinController</servlet-name>
		<url-pattern>/checkin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HotelCheckoutController</display-name>
		<servlet-name>HotelCheckoutController</servlet-name>
		<servlet-class>hotel.controllers.HotelCheckoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelCheckoutController</servlet-name>
		<url-pattern>/hotel/checkout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckoutController</display-name>
		<servlet-name>CheckoutController</servlet-name>
		<servlet-class>hotel.controllers.CheckoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutController</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	<security-role>
		<role-name>manager_hotel</role-name>
		<role-name>receptioner</role-name>
		<role-name>xxxxx</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protejate</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_err.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>hotel.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rest-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rest-servlet</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.ws.rs.Application</param-name>
		<param-value>hotel.rest.RestApplication</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rs</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.injector.factory</param-name>
		<param-value>org.jboss.resteasy.cdi.CdiInjectorFactory</param-value>
	</context-param>
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>REST resources</web-resource-name>
			<url-pattern>/rs/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<resource-env-ref>
		<resource-env-ref-name>BeanManager</resource-env-ref-name>
		<resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
	</resource-env-ref>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/HotelDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>